[submodule "sdk"]
	path = sdk
	url = https://github.com/geffencooper/maxim-sdk_ECE196.git
[submodule "distiller"]
	path = distiller
	url = https://github.com/MaximIntegratedAI/distiller.git
	branch = pytorch-1.5
