[submodule "sdk"]
	path = sdk
	url = git@github.com:geffencooper/maxim-sdk_ECE196.git
	branch = master
[submodule "distiller"]
	path = distiller
	url = https://github.com/MaximIntegratedAI/distiller.git
	branch = pytorch-1.5
